@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');

:root{
    --primary-color: #F9CE9C;
}

body{
    margin: 0;
    font-family: 'EB Garamond', serif;
    background-color: var(--primary-color);
}

/** lists **/

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.nav-brand {
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    margin-left: 1rem;
    margin-top: 1rem;
}

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    line-height: 16px;
    text-align: right;
}

.navigation .nav-brand .nav-brand-highlight {
    font-weight: 600;
    font-size: 40px;
}

.navigation .nav-pills {
    list-style: none;
    display: inline-block;
    margin-right: 1rem;
    font-size: 20px;
    
}

.navigation .link {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.navigation .link:hover{
    color: white;
}

/** headings **/

.hero-heading {
    text-align: center;
    margin: auto;
    padding: 3rem;
    font-size: 9vw;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

.sub-heading {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 400;
    font-size: 5vw;
}

.hero-heading .inverted-heading {
    font-weight: 600;
}

/** input **/

#txt-input {

    font-family: 'EB Garamond', serif;
    font-size: 20px;
    width: 127vw;
    height: 33vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 6px;
}

#btn-translate {
    font-family: 'EB Garamond', serif;
    font-style: black;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 100px;   
    border: 0;  
    padding: 12px 10px;    
    outline: none;    
    border-radius: 6px;
    font-weight: 500;
    line-height: 100%;
    background-color: #9CC3F9;
    cursor: pointer;
    transition: width 0.5s;
}

#btn-translate:hover{
    width: 110px;
    display: flex;
    align-items: center;
    justify-content:center;
}

/** output **/

#txt-output {

    font-family: 'EB Garamond', serif;
    font-size: 20px;
    background-color: #ffffff;
    color: black;
    width: 50%;
    height: 32vh;
    margin-left: 40.2%;
    margin-top: 2rem;
    display: block;
    border-radius: 6px;
    outline: none;
}

/** footer **/

.footer {
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    text-align: center;
    color: black;
    height: 30px;
    padding-top: 140px;
}

.footer .link {
    color: black;
    font-size: large;
}

.footer .footer-header {
    font-weight: bold;
    font-size: larger;
}

.footer ul {
    padding-inline-start: 0px;
}

/** links **/
.link {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

/* desktop 1*/

@media only screen and (max-width:1680px){
    #txt-output .image-fluid{
        margin-top: -4rem;
        margin-left: -26rem;
        max-width: 80%;
    }
}

/* desktop 2*/

@media only screen and (max-width:1920px){
    #txt-output .image-fluid{
        margin-top: -4rem;
        margin-left: -26rem;
        max-width: 80%;
    }
}

/* desktop 2*/

@media only screen and (max-width:2560px){
    #txt-output .image-fluid{
        margin-top: -4rem;
        margin-left: -26rem;
        max-width: 80%;
    }
}

/* laptop */

@media only screen and (max-width:1440px){
    #txt-output .image-fluid{
        margin-top: -4rem;
        margin-left: -24rem;
        max-width: 50%;
    }
}

/* tablet */

@media only screen and (max-width:1024px){
    #txt-output .image-fluid{
        margin-top: -3rem;
        margin-left: -18rem;
        max-width: 50%;
    }
}


/* mobile */

@media only screen and (max-width:600px){
    #txt-output .image-fluid{
        margin-top: 1rem;
        margin-left: -9.5rem;
        max-width: 80%;
    }
    #btn-translate {
        font-family: 'EB Garamond', serif;
        color: black;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        width: 100px;   
        border: 0;  
        padding: 12px 10px;    
        outline: none;    
        border-radius: 6px;
        font-weight: 500;
        line-height: 100%;
        background-color: #9CC3F9;
        cursor: pointer;
        transition: width 0.5s;
    }
    .nav-brand {
        font-size: 30px;
        font-weight: 400;
        text-align: left;
        margin-left: auto;
    }
    .navigation .nav-brand .nav-brand-highlight {
        font-weight: 600;
        font-size: 30px;
    }
    .navigation .nav-pills {
        list-style: none;
        display: inline-block;
        margin-right: auto;
        font-size: 20px;
        
    }
    
}